body,
select,
input,
button {
    font-family: "Microsoft YaHei";
}

select {
    width: 110px;
    height: 40px;
    font-size: 20px;
    border-left: none;
    border-right: 1px solid #000;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    vertical-align: top;
    outline: none;

}
input {
    width: 500px;
    height: 40px;
    font-size: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    box-sizing: border-box;
    vertical-align: top;
    outline: none;
}

button {
    width: 60px;
    height: 40px;
    font-size: 18px;
    color: #FFF;
    background: #0080FF;
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;
    cursor: pointer;
    vertical-align: top;
    outline: none;
}

body{
    background:url("./background/b1.jpg") fixed;
    background-repeat:no-repeat;
    background-size:100% 100%;
}

/* .search{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
} */